
body {
    background-color: red;
}

#formulario {
    text-align: center;
    color: yellowgreen;
}

#direccion {
    position: absolute;
    top: 40%;
    left: 45%;
    color: yellowgreen;
    font-size: 189%;
}

#barra1 {
    position: absolute;
    top: 50%;
    left: 43%;
    color: #ffffff;
    background-color: yellowgreen;
}

#tarjeta {
    position: absolute;
    top: 50%;
    left: 46%;
    color: yellowgreen;
    font-size: 189%;
}

#barra2 {
    position: absolute;
    top: 60%;
    left: 43%;
    color: #ffffff;
    background-color: yellowgreen;
}

#boton {
    position: absolute;
    top: 65%;
    left: 52%;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}