body {
    background-color: red;
}

.circuitos{
    width: 300px;
    height: 150px;
    padding: 10px;
    margin-top: 8%;
    margin-left: 7%;
  }
  #boton1 {
    position: absolute;
    top: 65%;
    left: 15%;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  
  #boton2 {
    position: absolute;
    top: 65%;
    left: 47%;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  
  #boton3 {
    position: absolute;
    top: 65%;
    left: 78%;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  #login{
    position: absolute;
    top: 10%;
    left: 90%;
    color: blue;
  }
